<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Processor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Text Processor</h1>
    
    <!-- Upload Form -->
    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <label for="file1">Choose File for Text 1:</label>
        <input type="file" id="file1" name="file1">
        
        <br><br>

        <label for="file2">Choose File for Text 2:</label>
        <input type="file" id="file2" name="file2">
        
        <br><br>

        <button type="submit">Upload Files</button>
    </form>
    
    <!-- Text Display -->
    <div id="text-display">
        <h3>Text 1:</h3>
        <p>{{ text1|safe }}</p>
        
        <h3>Text 2:</h3>
        <p>{{ text2|safe }}</p>
    </div>

    <!-- Search Pattern -->
    <form action="{{ url_for('search_pattern') }}" method="POST">
        <input type="text" name="pattern" placeholder="Search pattern...">
        <!-- Add hidden fields to preserve the content of Text1 and Text2 -->
        <input type="hidden" name="text" value="{{ text1 }}">
        <input type="hidden" name="text_id" value="Text1">
        <button type="submit">Search in Text 1</button>
    </form>

    <form action="{{ url_for('search_pattern') }}" method="POST">
        <input type="text" name="pattern" placeholder="Search pattern...">
        <!-- Add hidden fields to preserve the content of Text1 and Text2 -->
        <input type="hidden" name="text" value="{{ text2 }}">
        <input type="hidden" name="text_id" value="Text2">
        <button type="submit">Search in Text 2</button>
    </form>

    <!-- Similarity -->
    <form action="{{ url_for('similarity') }}" method="POST">
        <button type="submit">Find Similarity</button>
    </form>

    <!-- Palindrome -->
    <form action="{{ url_for('palindrome') }}" method="POST">
        <button type="submit">Find Palindrome</button>
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
